body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3377 {
  position:absolute;
  left:106px;
  top:68px;
  width:375px;
  height:667px;
}
#u3378 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:304px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3379 {
  position:absolute;
  left:106px;
  top:431px;
  width:375px;
  height:304px;
}
#u3380 {
  position:absolute;
  left:2px;
  top:144px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3381 {
  position:absolute;
  left:106px;
  top:568px;
  width:375px;
  height:1px;
}
#u3382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3385 {
  position:absolute;
  left:271px;
  top:458px;
  width:62px;
  height:62px;
}
#u3386 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u3387 {
  position:absolute;
  left:274px;
  top:465px;
  width:49px;
  height:48px;
}
#u3388 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3389 {
  position:absolute;
  left:281px;
  top:529px;
  width:46px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3390 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3392 {
  position:absolute;
  left:343px;
  top:461px;
  width:61px;
  height:61px;
}
#u3393 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3394 {
  position:absolute;
  left:351px;
  top:533px;
  width:45px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3395 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u3396 {
  position:absolute;
  left:355px;
  top:476px;
  width:36px;
  height:31px;
}
#u3397 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3399 {
  position:absolute;
  left:126px;
  top:461px;
  width:59px;
  height:59px;
}
#u3400 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3401 {
  position:absolute;
  left:134px;
  top:531px;
  width:45px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3402 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u3403 {
  position:absolute;
  left:138px;
  top:475px;
  width:36px;
  height:31px;
}
#u3404 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3405 {
  position:absolute;
  left:217px;
  top:529px;
  width:34px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3406 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u3407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3408 {
  position:absolute;
  left:215px;
  top:590px;
  width:62px;
  height:62px;
}
#u3409 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3410 {
  position:absolute;
  left:231px;
  top:659px;
  width:23px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3411 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3413 {
  position:absolute;
  left:126px;
  top:589px;
  width:61px;
  height:61px;
}
#u3414 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3415 {
  position:absolute;
  left:128px;
  top:659px;
  width:45px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3416 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3417 {
  position:absolute;
  left:138px;
  top:601px;
  width:37px;
  height:37px;
}
#u3418 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u3419 {
  position:absolute;
  left:195px;
  top:461px;
  width:58px;
  height:58px;
}
#u3420 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3421 {
  position:absolute;
  left:106px;
  top:696px;
  width:375px;
  height:39px;
}
#u3422 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3423 {
  position:absolute;
  left:106px;
  top:696px;
  width:375px;
  height:1px;
}
#u3424 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3425 {
  position:absolute;
  left:272px;
  top:705px;
  width:35px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u3426 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u3427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3429 {
  position:absolute;
  left:414px;
  top:461px;
  width:62px;
  height:62px;
}
#u3430 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u3431 {
  position:absolute;
  left:417px;
  top:468px;
  width:49px;
  height:48px;
}
#u3432 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3433 {
  position:absolute;
  left:437px;
  top:532px;
  width:23px;
  height:13px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u3434 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u3435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:392px;
}
#u3435 {
  position:absolute;
  left:532px;
  top:352px;
  width:330px;
  height:392px;
}
#u3436 {
  position:absolute;
  left:2px;
  top:188px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:2px;
}
#u3437 {
  position:absolute;
  left:271px;
  top:631px;
  width:261px;
  height:1px;
}
#u3438 {
  position:absolute;
  left:2px;
  top:-8px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3439 {
  position:absolute;
  left:106px;
  top:21px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3440 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3441 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:250px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3442 {
  position:absolute;
  left:106px;
  top:773px;
  width:310px;
  height:250px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u3443 {
  position:absolute;
  left:2px;
  top:117px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3444 {
  position:absolute;
  left:134px;
  top:933px;
  width:253px;
  height:38px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3445 {
  position:absolute;
  left:0px;
  top:6px;
  width:253px;
  word-wrap:break-word;
}
#u3446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u3446 {
  position:absolute;
  left:222px;
  top:815px;
  width:78px;
  height:78px;
}
#u3447 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:250px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3449 {
  position:absolute;
  left:477px;
  top:773px;
  width:310px;
  height:250px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u3450 {
  position:absolute;
  left:2px;
  top:117px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3451 {
  position:absolute;
  left:505px;
  top:933px;
  width:253px;
  height:38px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3452 {
  position:absolute;
  left:0px;
  top:6px;
  width:253px;
  word-wrap:break-word;
}
#u3453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3453 {
  position:absolute;
  left:587px;
  top:809px;
  width:90px;
  height:90px;
}
#u3454 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3456 {
  position:absolute;
  left:163px;
  top:1085px;
  width:193px;
  height:65px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u3457 {
  position:absolute;
  left:2px;
  top:24px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3458 {
  position:absolute;
  left:180px;
  top:1099px;
  width:160px;
  height:38px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3459 {
  position:absolute;
  left:0px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u3460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3461 {
  position:absolute;
  left:536px;
  top:1085px;
  width:193px;
  height:65px;
  opacity:0.600000023841858;
  font-size:20px;
}
#u3462 {
  position:absolute;
  left:2px;
  top:24px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3463 {
  position:absolute;
  left:553px;
  top:1099px;
  width:160px;
  height:38px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u3464 {
  position:absolute;
  left:0px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
